.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 700px;
  height: 20vw;
  max-height: 200px;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  16px 16px 60px #d1d1d1, -16px -16px 60px #ffffff;
  margin-bottom: 40px;
}

.time {
  margin: 0;
  font-family: DS-Digital;
  font-size: 13vw;
  color: #434242;
  text-shadow:1px 1px white, -1px -1px #666;
}