.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 20vw;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  19px 19px 32px #d1d1d1, -19px -19px 32px #ffffff;
  margin-bottom: 40px;
}

.time {
  margin: 0;
  font-size: 15vw;
  color: #7a7a7a;
  text-shadow:3px 3px white, -3px -3px #666;
}