.todo-editor {
  margin-bottom: 40px;
  font-size: 20px;
}

.todo-editor input {
  width: 50vw;
  height: 40px;
  border-radius: 12px;
  border: none;
  background: #ffffff;
  text-align: center;
  font-size: 20px;
  box-shadow: inset 6px 6px 12px #d1d1d1, inset -6px -6px 12px #ffffff;
}


.todo-editor input.invalid {
  background-color: rgba(182, 182, 182, 0.8);
}

.todo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.todo-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.todo-timer input {
  width: 50px;
}