.todo {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 8vh;
  border-radius: 20px;
  background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
  box-shadow:  19px 19px 32px #bebebe, -19px -19px 32px #ffffff;
  padding: 20px;
  margin-bottom: 10px;
}

.todo strong {
  margin: 0;
  width: auto;
  display: inline-block;
  font-size: 7vw;
  margin-right: 10px;
}

.todo h4 {
  color: gray;
  text-shadow:1px 1px white, -1px -1px #666;
  margin: 0;
  display: inline-block;
  font-size: 4vw;
}

.button-list {
  display: flex;
  justify-content: flex-end;
}