.todo {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 8vh;
  border-radius: 20px;
  background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
  box-shadow:  19px 19px 32px #bebebe, -19px -19px 32px #ffffff;
  padding: 20px;
  margin-bottom: 10px;
}

.todo strong {
  margin: 0;
  width: auto;
  display: inline-block;
  font-size: 40px;
  margin-right: 10px;
}

.todo h4 {
  color: gray;
  margin: 0;
  display: inline-block;
  font-size: 20px;
}

.button-list {
  display: flex;
  justify-content: flex-end;
}

.todo button {
  display: inline-block;
  border: none;
  background: none;
  color: gray;
  font-size: 3vw;
  text-align: left;
  padding: 0;
  margin-right: 10px;
}

.todo button:hover {
  cursor: pointer;
}