.timer-controller {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  width: 40%;
  min-width: 170px;
  max-width: 300px;
  height: 10vw;
  max-height: 60px;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  19px 19px 32px #d1d1d1, -19px -19px 32px #ffffff;
  margin-bottom: 40px;
}