.todo-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 150px;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  19px 19px 32px #d1d1d1, -19px -19px 32px #ffffff;
  padding: 10px;
}

.todo-list h2 {
  position: relative;
  display: inline-block;
  margin: 10px auto;
  text-shadow:1px 1px white, -1px -1px #666;
}

.plus {
  position: absolute;
  display: inline-block;
  border: none;
  background: none;
  color: gray;
  font-size: 2em;
  text-align: left;
  padding: 0;
  margin-right: 14px;
  top: px;
  right: 10px;
}

.todo-list button:hover {
  cursor: pointer;
}